:root {
    --background-color: #333;
    --text-color: #ffffff;
    --border-color: #555;
    --tierrow-background-color: #222;
}

@font-face {
    font-family: 'RunyTunesRevisitedNF';
    src: url(font/RunyTunesRevisitedNF.ttf) format('truetype');
}

body {
    background-color:var(--background-color);
    color:var(--text-color);
}

h1 {
    text-align: center;
    font-family: 'RunyTunesRevisitedNF', sans-serif;
    margin-bottom: 2rem;
    font-size: 100px;
    letter-spacing: 10px;
}

.container {
    width: 70%;
    margin: 5rem auto;
    align-self: center;
}

.tierrow {
    border: 1px solid var(--border-color);
    display: flex;
    background-color: var(--tierrow-background-color);
}

.tierlabel {
    border-right: 1px solid var(--border-color);
    width: 7rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
/* Eu estive aqui KSKSKSKSKKSKSKSK*/
.tieritems{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 7rem;
    height: auto;
    width: 100%;
    padding: 1rem;
}

.itempicker{
    background-color:var(--tierrow-background-color);
    height: fit-content;
    display: flex ;
    padding: 1rem;
}

.item{
    width: 6rem;
    height: 7rem;
    border: 1px solid var(--border-color);
    cursor: grab;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.item:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 6, 213, 0.562);
    border-color: rgb(255, 86, 227);
}

.tierrow:nth-child(1) .tierlabel {
    background-color: #ff7f7f;
    color: #fff;
}


.tierrow:nth-child(2) .tierlabel {
    background-color: #ffbf7f;
    color: #fff;
}

.tierrow:nth-child(3) .tierlabel {
    background-color: #ffdf7f;
    color: #333;
}

.tierrow:nth-child(4) .tierlabel {
    background-color: #bfff7f;
    color: #333;
}

.tierrow:nth-child(5) .tierlabel {
    background-color: #7fccff;
    color: #333;
}


.item[data-id="1"] {
    background-image: url(./images/1.png);
    background-size: cover;
}   

.item[data-id="2"] {
    background-image: url(./images/2.png);
    background-size: cover;
}

.item[data-id="3"] {
    background-image: url(./images/3.png);
    background-size: cover;
}

.item[data-id="4"] {
    background-image: url(./images/4.png);
    background-size: cover;
}
.item[data-id="5"] {
    background-image: url(./images/5.png);
    background-size: cover;
}

.item[data-id="6"] {
    background-image: url(./images/6.png);
    background-size: cover;
}

.item[data-id="7"] {
    background-image: url(./images/7.png);
    background-size: cover;
}

.item[data-id="8"] {
    background-image: url(./images/8.png);
    background-size: cover;
}
.item[data-id="9"] {
    background-image: url(./images/9.png);
    background-size: cover;
}
.item[data-id="10"] {
    background-image: url(./images/10.png);
    background-size: cover;
}

.item[data-id="11"] {
    background-image: url(./images/11.png);
    background-size: cover;
}

.item[data-id="12"] {
    background-image: url(./images/12.png);
    background-size: cover;
}

.item[data-id="13"] {
    background-image: url(./images/13.png);
    background-size: cover;
}   

.item[data-id="14"] {
    background-image: url(./images/14.png);
    background-size: cover;
}

.item[data-id="15"] {
    background-image: url(./images/15.png);
    background-size: cover;
}

.item[data-id="16"] {
    background-image: url(./images/16.png);
    background-size: cover;
}

.item[data-id="17"] {
    background-image: url(./images/17.png);
    background-size: cover;
}

.item[data-id="18"] {
    background-image: url(./images/18.png);
    background-size: cover;
}

.item[data-id="19"] {
    background-image: url(./images/19.png);
    background-size: cover;
}

.item[data-id="20"] {
    background-image: url(./images/20.png);
    background-size: cover;
}

.item[data-id="21"] {
    background-image: url(./images/21.png);
    background-size: cover;
}